# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# VS Code
.vscode/

# Build
/dist/
/build/

# Others
*.bak
*.tmp
