<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
  <%- include('../partials/navbar.ejs') %>
    <main class="container">
      <section class="py-4">
        <h2>About This Site</h2>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse deserunt cumque voluptatem facilis modi harum! Aliquid architecto quis tempore, maxime reprehenderit provident perferendis voluptates inventore! Veniam rerum quia commodi eos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, provident, ad necessitatibus iure numquam incidunt quis sunt delectus ipsa veritatis velit illo cum assumenda rerum id culpa facilis. Perspiciatis, itaque?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto vel quibusdam saepe maiores laborum? Ipsa iste quos, dolorum temporibus sint tempora voluptate ex aperiam quaerat blanditiis deleniti ullam reiciendis ipsum.</p>
      </section>
    </main>
  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/scripts.ejs') %>
  </body>
</html>
