<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <main class="container">
      <section class="py-4">
        <h2>Gallery</h2>
        <div class="row row-cols-1 row-cols-md-3 g-3">
          <div class="col">
            <div class="border p-3 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea alias ducimus aliquam impedit quaerat eum recusandae est natus omnis, tempora placeat cupiditate harum aperiam eaque dolores ipsam, sint inventore commodi!</div>
          </div>
          <div class="col">
            <div class="border p-3 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quam aspernatur quis. Sunt delectus odio dolorem distinctio et natus, aliquid voluptatibus quam facere accusantium totam! Blanditiis soluta id nesciunt maxime.</div>
          </div>
          <div class="col">
            <div class="border p-3 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, quibusdam. Est nostrum ad ipsa! Modi consectetur, ullam velit harum saepe, distinctio minus deleniti placeat dicta, odit corrupti fugiat adipisci nisi.</div>
          </div>
        </div>
      </section>
    </main>
  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/scripts.ejs') %>
  </body>
</html>
