<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <main class="container">
      <section class="py-5 text-center">
        <h1 class="display-4">This is a EJS Project.</h1>
        <p class="lead">A simple, clean static 5 pages' website built with Node.js, Express, and EJS.</p>
        <p>This project is built with EJS , NodeJS and Express.</p>
      </section>
    </main>
  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/scripts.ejs') %>
  </body>
</html>
