<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <main class="container">
      <section class="py-4">
        <h2>Our Services</h2>
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">UI/UX Design</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab magnam soluta quis nam deserunt, accusamus doloribus quae corrupti architecto sapiente excepturi natus molestias nulla? Debitis deserunt est voluptatum distinctio iste!</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">AI-ML</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis nesciunt tempora, numquam tempore amet ullam unde excepturi non fuga similique praesentium laborum quidem sint aspernatur suscipit blanditiis accusantium ipsa quisquam!</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Web Development</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quos accusamus consequatur expedita itaque a voluptatum adipisci! Repellat eligendi, molestiae magni, expedita repellendus est provident doloremque officiis, perferendis molestias atque.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/scripts.ejs') %>
  </body>
</html>
