<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <main class="container">
      <section class="py-5 text-center">
        <h2>Thank You!</h2>
        <p>Your message has been received.</p>
        <a href="/" class="btn btn-outline-primary mt-3">Back to Home</a>
      </section>
    </main>
  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/scripts.ejs') %>
  </body>
</html>
